.brainDump
  border-radius: 3px
  flex: 1
  border: 1px solid black
  overflow: hidden
  display: flex
  flex-direction: column

  .title
    padding: 0.5rem
    border-bottom: 1px solid black

  .list
    display: grid
    grid-auto-rows: 48px
    overflow-y: auto
    height: 100%

    .inputContainer
      display: flex
      justify-content: space-between
      border-bottom: 1px solid black
      cursor: grab
      padding: 0.5rem 2.5rem 0.5rem 0.5rem

      input
        outline: none
        border: none
        width: 100%

      &:last-child
        border-bottom: none

      .clearButton
        width: 2rem
        height: 2rem
        background: transparent
        border: none
        cursor: pointer
