.dailySchedule
    border: 1px solid black
    border-radius: 3px
    background: white
    flex: 1
    position: relative
    overflow: auto

    scrollbar-width: none
    -ms-overflow-style: none
    &::-webkit-scrollbar
        display: none

    &::after
        content: ""
        position: fixed
        top: 0
        right: 0
        width: 8px
        height: 100%
        opacity: 0
        transition: opacity 0.3s ease
        background: transparent
        pointer-events: none

    &:hover::after,
    &:focus::after,
    &.scrolling::after
        opacity: 1

    &::-webkit-scrollbar-track
        background: transparent

    &::-webkit-scrollbar-thumb
        background: rgba(0, 0, 0, 0.2)
        border-radius: 4px
        transition: background 0.3s ease

        &:hover
            background: rgba(0, 0, 0, 0.3)

    .title
        padding: 0.5rem
        border-bottom: 1px solid black
        font-weight: bold

    .schedule
        &::-webkit-scrollbar
            display: none

        table
            background: white

    .closeBtn
        color: black
        cursor: pointer
        height: 14px
        width: 14px
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer

@media screen and (max-width: 768px)
    .dailySchedule
        display: none !important
