:root
    --fc-border-color: rgba(0, 0, 0, 0.1)
    --fc-daygrid-event-dot-width: 5px

.fc tr:nth-child(even),
.fc-theme-standard td,
.fc .fc-timegrid-slot-minor
    border: none
    border-top-style: none

.fc tr:nth-child(odd)
    border-top: 1px solid rgba(0, 0, 0, 0.1)
